(
    countries: [
        (
            id: 1,
            name: "England",
            color: (
                r: 0.8,
                g: 0.2,
                b: 0.2,
            ),
            gold: 7229,
            owned_provinces: [
                101,
                102,
                103,
                104,
                105,
                107,
                108,
                109,
                111,
                112,
                113,
                114,
                115,
                116,
                117,
                118,
                119,
                120,
                121,
                122,
                106,
                110,
            ],
            flag_path: Some("flags/england.png"),
            relations: {
                4: War,
                2: Peace,
                3: Peace,
            },
        ),
        (
            id: 4,
            name: "Wales",
            color: (
                r: 0.3,
                g: 0.7,
                b: 0.0,
            ),
            gold: 2798,
            owned_provinces: [
                402,
                401,
                403,
            ],
            flag_path: Some("flags/wales.png"),
            relations: {
                3: Peace,
                2: War,
                1: War,
            },
        ),
        (
            id: 2,
            name: "Ireland",
            color: (
                r: 0.2,
                g: 0.5,
                b: 0.0,
            ),
            gold: 2980,
            owned_provinces: [
                201,
                202,
                203,
                204,
            ],
            flag_path: Some("flags/ireland.png"),
            relations: {
                4: War,
                3: Peace,
                1: Peace,
            },
        ),
        (
            id: 3,
            name: "Scotland",
            color: (
                r: 0.2,
                g: 0.5,
                b: 0.8,
            ),
            gold: 4082,
            owned_provinces: [
                301,
                302,
                303,
                304,
                305,
                306,
                307,
                308,
                309,
            ],
            flag_path: Some("flags/scotland.png"),
            relations: {
                4: Peace,
                2: Peace,
                1: Peace,
            },
        ),
    ],
    armies: [
        (
            owner_id: 4,
            province_id: 403,
            units: 200,
        ),
        (
            owner_id: 4,
            province_id: 401,
            units: 300,
        ),
        (
            owner_id: 3,
            province_id: 303,
            units: 100,
        ),
        (
            owner_id: 2,
            province_id: 201,
            units: 100,
        ),
        (
            owner_id: 4,
            province_id: 106,
            units: 500,
        ),
        (
            owner_id: 4,
            province_id: 402,
            units: 100,
        ),
        (
            owner_id: 2,
            province_id: 202,
            units: 600,
        ),
        (
            owner_id: 3,
            province_id: 304,
            units: 100,
        ),
    ],
    occupied_provinces: [
        (
            province_id: 106,
            occupier_id: 4,
        ),
        (
            province_id: 110,
            occupier_id: 4,
        ),
    ],
    player_country_id: Some(1),
)