(
    countries: [
        (
            id: 1,
            name: "England",
            color: (
                r: 0.8,
                g: 0.2,
                b: 0.2,
            ),
            owned_provinces: [
                101,
                102,
                103,
                104,
                105,
                106,
                107,
                108,
                109,
                110,
                111,
                116,
                113,
                114,
                115,
                122,
                117,
                118,
                119,
                120,
                121,
                112,
            ],
            flag_path: Some("flags/england.png"),
        ),
        (
            id: 2,
            name: "Ireland",
            color: (
                r: 0.2,
                g: 0.5,
                b: 0.0,
            ),
            owned_provinces: [
                201,
                202,
                204,
                203,
            ],
            flag_path: Some("flags/ireland.png"),
        ),
        (
            id: 3,
            name: "Scotland",
            color: (
                r: 0.2,
                g: 0.5,
                b: 0.8,
            ),
            owned_provinces: [
                304,
                302,
                303,
                301,
                305,
                306,
                307,
                308,
                309,
            ],
            flag_path: Some("flags/scotland.png"),
        ),
        (
            id: 4,
            name: "Wales",
            color: (
                r: 0.3,
                g: 0.7,
                b: 0.0,
            ),
            owned_provinces: [
                403,
                401,
                402,
            ],
            flag_path: Some("flags/wales.png"),
        ),
    ],
    player_country_id: Some(1),
)