(
    countries: [
        (
            id: 2,
            name: "Ireland",
            color: (
                r: 0.2,
                g: 0.5,
                b: 0.0,
            ),
            gold: 5565,
            owned_provinces: [],
            flag_path: Some("flags/ireland.png"),
            relations: {
                3: War,
                4: War,
                1: War,
            },
        ),
        (
            id: 1,
            name: "England",
            color: (
                r: 0.8,
                g: 0.2,
                b: 0.2,
            ),
            gold: 1407,
            owned_provinces: [
                101,
                102,
                103,
                104,
                107,
                108,
                109,
                113,
                114,
                115,
                117,
                401,
                119,
                120,
                118,
                203,
                204,
                202,
                201,
                116,
                112,
                111,
            ],
            flag_path: Some("flags/england.png"),
            relations: {
                3: War,
                2: War,
                4: War,
            },
        ),
        (
            id: 4,
            name: "Wales",
            color: (
                r: 0.3,
                g: 0.7,
                b: 0.0,
            ),
            gold: 47,
            owned_provinces: [
                403,
                105,
                110,
                402,
                106,
            ],
            flag_path: Some("flags/wales.png"),
            relations: {
                3: War,
                2: War,
                1: War,
            },
        ),
        (
            id: 3,
            name: "Scotland",
            color: (
                r: 0.2,
                g: 0.5,
                b: 0.8,
            ),
            gold: 198,
            owned_provinces: [
                303,
                304,
                305,
                306,
                302,
                309,
                122,
                121,
                308,
                307,
                301,
            ],
            flag_path: Some("flags/scotland.png"),
            relations: {
                4: War,
                2: War,
                1: War,
            },
        ),
    ],
    armies: [
        (
            owner_id: 1,
            province_id: 114,
            units: 100,
        ),
        (
            owner_id: 3,
            province_id: 307,
            units: 1000,
        ),
        (
            owner_id: 4,
            province_id: 105,
            units: 100,
        ),
        (
            owner_id: 3,
            province_id: 306,
            units: 2300,
        ),
        (
            owner_id: 1,
            province_id: 103,
            units: 800,
        ),
        (
            owner_id: 1,
            province_id: 118,
            units: 100,
        ),
        (
            owner_id: 1,
            province_id: 112,
            units: 700,
        ),
        (
            owner_id: 1,
            province_id: 116,
            units: 100,
        ),
        (
            owner_id: 1,
            province_id: 106,
            units: 800,
        ),
        (
            owner_id: 1,
            province_id: 119,
            units: 800,
        ),
        (
            owner_id: 1,
            province_id: 113,
            units: 400,
        ),
        (
            owner_id: 1,
            province_id: 402,
            units: 400,
        ),
        (
            owner_id: 1,
            province_id: 102,
            units: 100,
        ),
        (
            owner_id: 1,
            province_id: 108,
            units: 200,
        ),
        (
            owner_id: 4,
            province_id: 111,
            units: 3200,
        ),
        (
            owner_id: 1,
            province_id: 401,
            units: 100,
        ),
        (
            owner_id: 4,
            province_id: 403,
            units: 200,
        ),
    ],
    player_country_id: Some(2),
)